{%extends "base.html"%}
{%block title%}My Supercompilation Tasks{%endblock%}
{%block content%}
     <table class="programs">
        <thead>
        <tr>
        	<th>Name</th>
        	<th>Summary</th>
        	<th>Created</th>
        	<th>Modified</th>
        </tr>
        </thead>
        {% for program in programs %}
 		<tr class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
            <td><a href ="/view?key={{program.key}}"/>{{program.name}}</a></td>
            <td>{{program.summary}}</td>
            <td>{{ program.date|date:"jS F Y H:i" }}</td>
            <td>{{ program.modified|date:"jS F Y H:i" }}</td>
        </tr>
        {% endfor %}
      </table>
      
       <h2>My ≈ Tasks</h2>
     <table class="programs">
        <thead>
        <tr>
        	<th>Name</th>
        	<th>Summary</th>
        	<th>Created</th>
        	<th>Modified</th>
        </tr>
        </thead>
        {% for program in tests %}
 		<tr class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
            <td><a href ="/test?key={{program.key}}"/>{{program.name}}</a></td>
            <td>{{program.summary}}</td>
            <td>{{ program.date|date:"jS F Y H:i" }}</td>
            <td>{{ program.modified|date:"jS F Y H:i" }}</td>
        </tr>
        {% endfor %}
      </table>
{%endblock%}